.days-container{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.day-circle{
  border: 1px solid #30A6DE;
  border-radius: 25px;
  display: inline-block;
  height: 50px;
  min-width: 50px;
  text-align: center;
  line-height: 50px;
  float: left;
  margin: 10px;
  color: #808080;
}

.day-circle.is-selected{
  background-color: #30A6DE;
  color: white;
}

.day-circle[ng-disabled="true"]{
  border-color: #9EAEB5;
}
.day-circle[ng-disabled="true"].is-selected{
  background-color: #9EAEB5;
  color: #C3C2C2

}
